# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
.env/


data/processed/X_node2vect.csv
data/processed/y_node2vect.csv
